* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- social ---- */

.social {
  background: #EEE;
}

/* clearfix */
.social:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- social-item ---- */

.social-item {
  width: 160px;
  height: 120px;
  float: left;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.social-item--width2 { width: 320px; }
.social-item--width3 { width: 480px; }
.social-item--width4 { width: 640px; }

.social-item--height2 { height: 200px; }
.social-item--height3 { height: 260px; }
.social-item--height4 { height: 360px; }
